// This file may be used for providing additional customizations to the Trestle
// admin. It will be automatically included within all admin pages.
//
// For organizational purposes, you may wish to define your customizations
// within individual partials and `import` them here, e.g.
//
//    @import "trestle/custom/my_custom_css";
//

.col-thumb {
	width: 220px;
	padding-right: 20px !important;
}

.col-img {
	width: 40%;
	max-width: 400px;
	padding-right: 20px !important;
}

.upload-preview{
	width: 300px;
	height: auto;
}

.imgPanel{
	padding-top: 20px;
	padding-bottom: 20px;
}

.imgPanel img{
	width: 100%;
	height: auto;
}

.delImg{
	margin-top: 10px;
	display: inline-block;
	i:before{
		margin-right: 5px;
	}
}

.thumbimg{
	margin: 0 0 10px 0;
}

ul.help-block{
	margin-left: -15px;
}

p.help-block{
	list-style-type: disc;
	list-style-position: inside;
	display:list-item;
}

.radio{
	margin-top: 0;
	display: inline-block;
	input[type=radio]{
		display: none;
	}
	label{
		display: inline-block;
	    padding: 4px 12px;
	    margin-bottom: 0;
	    font-size: 14px;
	    line-height: 20px;
	    color: #333;
	    text-align: center;
	    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	    vertical-align: middle;
	    cursor: pointer;
	    background-color: #f5f5f5;
	    border: 1px solid #ccc;
	    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	    border-bottom-color: #b3b3b3;
	    -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
	}
	input[type=radio]:checked + label.yes{
		color: #fff;
   	 	background-color: #51a351;
	}
	input[type=radio]:checked + label.no{
		color: #fff;
   	 	background-color: #bd362f;
	}
}

.action-btn:hover, .action-btn:focus{
	text-decoration: none;
}

.action-btn:hover{
	.label-success{
		background: #5ab65a;
	}
	.label-danger{
		background-color: #d84c48;
	}
}

a[href="/admin/galleries"]{
	display: none;
}

/* custom uplod file */

.custom-file {
	position: relative;
	display: inline-block;
	width: 100%;
	height: $custom-file-height;
	margin-bottom: 10px;
}

.custom-file-input {
	position: relative;
	z-index: 2;
	width: 100%;
	height: $custom-file-height;
	margin: 0;
	opacity: 0;
	cursor: pointer;
}

.custom-file-label {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
	height: $custom-file-height;
	padding: $custom-file-padding-y $custom-file-padding-x;
	margin: 0;
	line-height: $custom-file-line-height;
	color: $custom-file-color;
	background-color: $custom-file-bg;
	border: $custom-file-border-width solid $custom-file-border-color;
	border-radius: 0.25rem;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(#{$custom-file-height} - #{$custom-file-border-width} * 2);
    padding: $custom-file-padding-y $custom-file-padding-x;
    line-height: $custom-file-line-height;
    color: #FFF;
    content: "Browse";
    border-left: $custom-file-border-width solid $custom-file-border-color;
    background: $brand-primary;
  }
}



