<header id="header">
  <%  # if homepage
  if current_page?(url_for(:controller => 'welcome', :action => 'index'))
  %>

  <nav id="mainNav" class="navbar navbar-expand-lg navbar-fixed-top">
  <%= link_to image_tag("onion_logo_w.svg", alt: "Onion Design Associates | 洋蔥設計", class: "svgimg logo"), root_path, class: "navbar-brand hidden-xs" %>

  <% else %>

  <nav id="mainNav" class="navbar navbar-expand-lg navbar-static container">
    <%= link_to image_tag("onion_logo_b.svg", alt: "Onion Design Associates | 洋蔥設計", class: "svgimg logo"), root_path, class: "navbar-brand hidden-xs" %>

    <% end %>
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <% class_name = current_page?(projects_path) ? 'nav-link active' : 'nav-link' %>
          <%=link_to "WORK", projects_path, :class => class_name %>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-list">CLIENT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn-list">ABOUT</a>
        </li>
        <li class="nav-item">
          <%=
            if I18n.locale == :en
              link_to "中", {:controller => controller_name, :action => action_name, :locale => "zh-TW"}, class: "nav-link btn-list"
            else
              link_to "EN", {:controller => controller_name, :action => action_name, :locale => "en"}, class: "nav-link btn-list"
            end
          %>
        </li>
      </ul>
    </div>
  </nav>
</header>