<header id="header">
  <%  # if homepage
  if current_page?(url_for(:controller => 'welcome', :action => 'index'))

  end
  %>

  <nav id="mainNav" class="navbar navbar-expand-lg">
    <a class="navbar-brand" data-turbolinks="true" href="/">Hsinhua</a>

    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <%= link_to "ABOUT", about_path, class: "nav-link btn-list" %>
      </li>
      <li class="nav-item">
        <% class_name = current_page?(projects_path) ? 'nav-link active' : 'nav-link' %>
        <%= link_to "WORK", projects_path, :class => class_name %>
      </li>
      <li class="nav-item">
        <%= link_to "GITHUB","https://github.com/hsinhuachen/",target: "_blank", class: "nav-link btn-list" %>
      </li>
    </ul>
  </nav>
</header>