<div class="page">
	<%= render "shared/taglist" %>
	<%=
		# if params[:name]
		# 	content_tag :h2, params[:name]
		# else
		# 	content_tag :h2, "All"
		# end
	%>

	<div id="projects" class="list">
		<div class="row">
			<% @posts.each do |post| %>
				<%= render partial: "shared/item", locals: {post: post, column: 3} %>
			<% end %>
		</div>
	</div> <!-- /.list -->
	<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div> <!-- /.page -->
