#full{
}

.bx-wrapper{
    padding: 0;
    border: none;
    box-shadow: none;
}

.carousel-inner{
  padding-top: 136px;
  max-height: 90vh;
  min-height: 90vh;
}

.pic{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
  max-height: 90vh;
  min-height: 90vh;
}

@keyframes img-small {
  0% {
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

