.gotop{
	color: #000;
	font-size: 2.0rem;
	padding: 15px;
	&:hover{
		text-decoration: none;
	}
}


#footer{
	padding: 57px 30px;
	p, ul{
		margin-bottom: 0;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: #000;
		font-size: 2.0rem;
		line-height: 140%;
		letter-spacing: 0.5px;
	}
}

@media screen and (max-width: 767px) {
	#footer{
		padding-left: 15px;
		padding-right: 15px;
	}
}