@mixin animated($item: all, $sec: 1s) {
    -webkit-transition: $item $sec ease;
    -moz-transition: $item $sec ease;
    -ms-transition: $item $sec ease;
    -o-transition: $item $sec ease;
    transition: $item $sec ease;
}

a:focus{
	outline: none;
}

.img-responsive{
	max-width: 1600px;
	width: 100%;
}

.navbar-brand{
	height: auto;
	padding: 57px 0 0 57px;
}

.logopath{
	@include animated(fill,0.6s);
}

#header{
	&.black .logopath{
		fill: #000000;
	}
	&.black .nav-link{
		color: #000000;
	}
}

#full{
	margin-bottom: 100px;
}

.carousel-item{
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	height: 100vh;
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.nav{
	padding-top: 57px;
	padding-right: 57px;
}

.nav-link{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #FFFFFF;
	font-size: 2.0rem;
	letter-spacing: 2.5px;
	line-height: 100%;		
}

.logo{
	width: 150px;
	height: auto;
}

.navbar-static{
	margin-bottom: 60px;
	.nav{
		padding-top: 40px;
		padding-right: 0;
	}
	.navbar-brand{
		padding: 40px 0 0 0px;
	}
	.nav-link{
		color: #000;
	}
	.logo{
		width: 130px;
		height: auto;
	}
}

.category{
	padding-bottom: 60px;
	margin-left: -15px;
	a{
		font-family: 'Montserrat', sans-serif;
		color: #000;
		font-size: 20px;
		letter-spacing: 0.5px;
		line-height: 100%;
		padding: 0 15px;
		text-transform: uppercase;
		display: inline-block;
		&:hover{
			text-decoration: none;
		}
		&:hover span, &.active span{
			border-bottom: 2px solid #000;
		}
	}
}

.list{
	margin: 0 -15px;
}

.homelist{
	font-size: 0;
	margin: 0 -30px;
	.project-item{
		float: none;
		padding-left: 30px;
		padding-right: 30px;
		vertical-align: top;
		display: inline-block;
	}
	.mask{
		left: 30px;
		right: 30px;
	}
}

@media screen and (max-width: 779px){
	.homelist{
		margin: 0 -15px;
	}
}

@media screen and (max-width: 767px){
	
}

.project-item {
	position: relative;
	margin-bottom: 30px;
}

.homelist .project-item{
	margin-bottom: 60px;
}

.item-link{
	position: absolute;
	left: 15px;
	right: 15px;
	top: 0;
	bottom: 0;
	z-index: 2;
	display: block;
	&:hover ~ .mask{
		opacity: 1;
	}
}

.mask{
	position: absolute;
	left: 15px;
	right: 15px;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: #000;
	padding: 30px;
	transform: translateZ(0);
}

.project-name{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #FFF;
	font-size: 2.0rem;
	line-height: 180%;
	margin: 0;
	padding: 0;
}

.img-item{
	margin-bottom: 30px;
}

.control{
	padding: 100px 0 3px 0;
	a{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: #000;
		font-size: 2.0rem;
		letter-spacing: 0;
		line-height: 140%;
		&:hover{
			text-decoration: none;
		}
		&:hover span{
			border-bottom: 1px solid #000;
		}
	}
}

.pagy-bootstrap-nav{
	width: 100%;
}

.pagination {
	text-align: center;
	margin: 0;
	ul{
		margin: 57px 0;
	}
}

.pagination > li > a, .pagination > li > span{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: #000;
	font-size: 2.0rem;
	letter-spacing: 0;
	border: none;
}

.info{
	width: 50%;
	padding-top: 70px;
	padding-left: 15px;
	float: right;
	&.tw{
		font-family: 'Noto Sans TC', sans-serif;
		font-weight: 300;
		color: #000000;
		font-size: 1.8rem;
		text-align: justify;
		line-height: 211%;
		h1{
			font-family: 'Noto Sans TC', sans-serif;
			font-weight: 500;
			color: #000000;
			font-size: 2.6rem;
		}
	}
}

@media screen and (max-width: 991px){
	.info{
		width: 100%;
		float: none;
		padding-left: 0;
	}
}

.more{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2.0rem;
	color: #000000;
	letter-spacing: 0.5px;
	line-height: 140%;
	padding-top: 57px;
	display: block;
	&:hover{
		text-decoration: none;
	}
	&:hover span{
		color: #000;
		border-bottom: 2px solid #000;
	}
}

.gotop{
	color: #000;
	font-size: 2.0rem;
	padding: 15px;
	&:hover{
		text-decoration: none;
	}
}

#footer{
	padding: 57px 30px;
	p, ul{
		margin-bottom: 0;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: #000;
		font-size: 2.0rem;
		line-height: 140%;
		letter-spacing: 0.5px;
	}
}

@media screen and (max-width: 767px) {
	#footer{
		padding-left: 15px;
		padding-right: 15px;
	}
}

.contact{
	padding-bottom: 57px;
	a{
		color: #000;
		&:hover{
			text-decoration: none;
			border-bottom: 1px solid #000;
		}
	}
}

.social {
	float: right;
	li{
		display: inline-block;
	}
	a{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300;
		color: #000;
		font-size: 2.0rem;
		line-height: 140%;
		letter-spacing: 0.5px;
		padding: 0 15px;
		display: block;
		&:hover{
			text-decoration: none;
		}
		&:hover span{
			border-bottom: 1px solid #000;
		}
	}
}

@media screen and (max-width: 991px) {
	.social{
		float: none;
		margin-left: -15px;
	}
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
}


